<h1><%= t('.title') %></h1>

<% @products.each do |product| %>
  <%= link_to  product_path(product), class: 'product' do %>
    <h2><%= product.title %></h2>
    <%= image_tag product.photo, size: '200x200' if product.photo.attached? %>
  <% end %>
  <span>$<%= product.price %></span>
<% end %>